<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://camel.apache.org/schema/spring 
       http://camel.apache.org/schema/spring/camel-spring.xsd">

    <!--provide an external server.properties file for externalized configurations-->
    <!--<context:property-placeholder location="classpath:server.properties"/>-->
    <context:property-placeholder location="file:${jetty.home}/etc/server.properties" />
    <!--<context:property-placeholder location="file:${ext.properties.dir}server.properties" />-->

    <!--This makes the properties available inside the camel route descriptors and DSL using {{}}-->
    <bean id="properties" class="org.apache.camel.component.properties.PropertiesComponent">
        <property name="location" value="file:${jetty.home}/etc/server.properties"/>
    </bean>

    <import resource="sqlLoaderRoutes.xml"/>

    <camelContext id="camel-sql-loader" xmlns="http://camel.apache.org/schema/spring">
        <package>change.me</package>

        <routeContextRef ref="sqlLoaderRoutes"/>

        <!--REF definitions-->
        <endpoint id="runExtract" uri="timer://extractUsers?fixedRate=true&amp;period=600s&amp;repeatCount=2"/>

        <endpoint id="archiveFolderEndpoint" uri="file:${archiveDir}?fileExist=Override"/>

        <route>
            <from uri="ref:runExtract"/>
            <!--setup-->
            <to uri="sql:delete from users?dataSource=warehouse"/>
            <to uri="sql:select count(*) from users?dataSource=warehouse"/>
            <!--<log message="sql setup complete ${headers}" loggingLevel="INFO"/>-->
            <to uri="mock:setupComplete"/>
            <setHeader headerName="migrationSource">
                <simple>users</simple>
            </setHeader>
            <setHeader headerName="migrationLastUpdate">
                <ruby>require 'date'; DateTime.now.new_offset(0)</ruby>
            </setHeader>
            <setBody>
                <simple></simple>
            </setBody>
            <to uri="direct:importIntowarehouse"/>
            <to uri="sql:select count(*) from users?dataSource=warehouse"/>
            <!--<log message="Received ${headers} ${body} at end" loggingLevel="INFO"/>-->
            <to uri="mock:sqlResult"/>
        </route>
    </camelContext>

    <!--this needs to use SSL unless perhaps it is inside a vpc!-->
    <!--See here: http://docs.aws.amazon.com/redshift/latest/mgmt/connecting-ssl-support.html-->
    <bean id="warehouse" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://${SQL_WAREHOUSE_HOST}/${SQL_WAREHOUSE_DATABASE}" />
        <property name="username" value="${SQL_WAREHOUSE_USER}" />
        <property name="password" value="${SQL_WAREHOUSE_PASSWORD}" />
    </bean>

</beans>
